/*Add CSS styles here*/

#map {
    height:550px;
    width: 100%;
    display: inline-block;
}

.sequence-control-container {
    width: 250px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 15px;
    line-height: 45px;
    text-align: center;
    border: solid #DA4453 2px;
}

.range-slider {
    width: 250 px;
}

.step {
    width: 40px;
}

.step img {
    width:100%;
    height: auto;
}
#forward {
    float:right;
}
#reverse {
    float:left;
}

.legend-control-container {
    width: 220px;
    font-weight: bold;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    text-align: center;
    border: solid #DA4453 2px;
}

.legend-control-container p{
    margin: 0px;
}

.header {
    padding: 1px;
    text-align: center;
    background: white;
    font-size: 20px;
    color: #DA4453;
}

.note {
    padding: 1px;
    text-align: center;
}