/*Add CSS styles here*/

body {
    background-color: rgb(255, 228, 202);
}

#map {
    height:550px;
    width: 100%;
    display: inline-block;
    border:solid #ce7018 2px;
}

.sequence-control-container {
    width: 250px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 15px;
    line-height: 45px;
    text-align: center;
    border: solid #ce7018 2px;
}

.range-slider {
    width: 250 px;
}

.step {
    width: 40px;
}

.step img {
    width:100%;
    height: auto;
}
#forward {
    float:right;
}
#reverse {
    float:left;
}

.legend-control-container {
    width: 220px;
    font-weight: bold;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    text-align: center;
    border: solid #ce7018 2px;
}

.legend-control-container p{
    margin: 0px;
}

.header {
    padding: 1px;
    text-align: center;
    background: rgb(255, 228, 202);
    font-size: 24px;
    color: #ce6118;
}

.note {
    padding: 1px;
    text-align: center;
}

.leaflet-popup-content{
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
}

.leaflet-popup-content-wrapper{
    border:solid #ce7018 2px;

}